@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-size: 400% 400%;
    position: relative;
    animation: changeBackgroundColor 20s ease-in-out infinite;
}

main {
    margin: 120px auto;
    max-width: 500px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 25px;
}

main header {
    text-align: center;
}

main .inputField {
    display: flex;
    height: 40px;
    width: 100%;
    margin: 20px 0;
}

.inputField input {
    outline: none;
    width: 85%;
    height: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    border-radius: 3px;
    padding-left: 15px;
}

.inputField button {
    width: 60px;
    height: 43px;
    border: none;
    outline: none;
    background: #282828;
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    transition: all .5s linear;
}

.inputField button:hover {
    background: #696969;
}

.dark {
    background-color: #282828;
    color: #f0f0f0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 15mm;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

footer p, footer a {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.75rem;
    transition: all .5s linear;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.todoList_item {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.todoList_item>div {
    width: 80%;
}

.todoList_item:hover {
    cursor: pointer;
    transition: all .5s linear;
    border-radius: 5px;
    background-image: linear-gradient(to right, #E8E8E8, #fff);
}

.todoList_item>input[type='text'] {
    border: none;
    width: 80%;
}

.todoList_item>input[type='button'] {
    width: 60px;
    height: 43px;
    border: none;
    background: #282828;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 3px;
    padding: 0px;
    line-height: 30px;
    margin-right: 5px;
    transition: all .5s linear;
}

.todoList_item>input[type='button']:hover {
    background: red;
}

.todoList_item>input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

.todoList_item>input[type='checkbox']:checked+div {
    text-decoration: line-through;
}

@keyframes changeBackgroundColor {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0 50%;
    }
}